@model IEnumerable<ProjectBanHang.Areas.Admin.Models.DataModels.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<p></p>
<button class="btn btn-success">
    @Html.ActionLink("Thêm mới", "Create")
</button>
<table class="table">
    <tr>
        <th>
            Tên
        </th>
        <th>
            Thao tác
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
