@model IEnumerable<ProjectBanHang.Areas.Admin.Models.DataModels.MenuType>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MenuTypeId }) |
            @Html.ActionLink("Detail", "Detail", new { id=item.MenuTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MenuTypeId })
        </td>
    </tr>
}

</table>
