@model ProjectBanHang.Areas.Admin.Models.DataModels.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
   
    <table class="table table-bordered">
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Categories.Name)</th>
            <td>@Html.DisplayFor(model => model.Categories.Name)</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <td>@Html.DisplayFor(model => model.Name)</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Price)</th> 
            <td>@Html.DisplayFor(model => model.Price)</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Amount)</th>
            <td>@Html.DisplayFor(model => model.Amount)</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.CodeColor)</th>
            <td>@Html.DisplayFor(model => model.CodeColor)</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Description)</th>
            <td>@Html.Raw(Model.Description)</td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Image)</th>
            <td>
                <img src="@Model.Image" style="width: 250px" />
            </td>
        </tr>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.Status)</th>
            <td>@Html.DisplayFor(model => model.Status)</td>
        </tr>

    </table>
</div>
<p>
    <button class="btn btn-1b">
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) 
    </button>
    <button class="btn btn-success">
        @Html.ActionLink("Quay lại danh sách", "Index")
    </button>
</p>
