@model PagedList.IPagedList<ProjectBanHang.Areas.Admin.Models.DataModels.ProfileUser>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var stt = 0;
}

<h2>Danh sách nhân viên</h2>

<div class="row">
    <div class="col-md-4">
        <button class="btn btn-success">@Html.ActionLink("Thêm mới", "Create")</button>
    </div>
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "ProfileUser", FormMethod.Get))
        {
            <div class="input-group">
                <input type="text" value="@ViewBag.SearchString" class="form-control" autocomplete="off" placeholder="Search" name="searchString" />
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </div>
        }

    </div>
</div>
<table class="table table-bordered table-hover" style="background-color: #fff">
    <thead>
        <tr>
            <th>
                Stt
            </th>
            <th>Ảnh</th>
            <th>Tên</th>
            <th>Tên đăng nhập</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Điện thoại</th>
            <th>Giới tính</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            stt++;

            <tr>
                <td>@stt</td>
                <td>
                    <img src="@Url.Content(item.Image)" style="width: 70px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @if (item.Gender == 1)
                    {
                        @Html.Raw("Nam")
                    }
                    else if (item.Gender == 2)
                    {
                        @Html.Raw("Nữ")
                    }
                    else
                    {
                        @Html.Raw("Giới tính khác")
                    }
                </td>
                <td>
                    <a class="fa fa-pencil" style="font-size:20px; padding-right: 10px" href="@Url.Action("Edit", "ProfileUser", new { id = item.Id })" aria-hidden="true"></a>
                    <a class="fa fa-info" style="font-size:20px; padding-right: 10px" href="@Url.Action("Details", "ProfileUser", new { id = item.Id })" aria-hidden="true"></a>
                    <a class="fa fa-trash" style="font-size:20px; padding-right: 10px" href="@Url.Action("Delete", "ProfileUser", new { id = item.Id })" onclick="return confirm('Are you sure want to Delete this?')" aria-hidden="true"></a>
                </td>
            </tr>
        }

    </tbody>

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
of @Model.PageCount @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
