@model IEnumerable<ProjectBanHang.Areas.Admin.Models.DataModels.ProfileUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var stt = 0;
}

<h2>Danh sách nhân viên</h2>

<button>
    @Html.ActionLink("Thêm mới", "Create")
</button>
<table class="table table-responsive">
    <tr>
        <th>
            Stt
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        stt++;
        <tr>
            <td>@stt</td>
            <td>
                <img src="@Url.Content(item.Image)" style="width: 70px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
               @if (item.Gender == 1)
               {
                   @Html.Raw("Nam")
               }
               else if (item.Gender == 2)
               {
                   @Html.Raw("Nữ")
               }
               else
               {
                   @Html.Raw("Giới tính khác")
               }
            </td>
            <td>
                <a class="fa fa-pencil" style="font-size:20px; padding-right: 10px" href="@Url.Action("Edit", "ProfileUser", new { id = item.Id })" aria-hidden="true"></a>
                <a class="fa fa-info" style="font-size:20px; padding-right: 10px" href="@Url.Action("Details", "ProfileUser", new { id = item.Id })" aria-hidden="true"></a>
                <a class="fa fa-trash" style="font-size:20px; padding-right: 10px" href="@Url.Action("Delete", "ProfileUser", new { id = item.Id})" aria-hidden="true"></a>
            </td>
        </tr>
    }

</table>
