@model ProjectBanHang.Areas.Admin.Models.DataModels.Product
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/Content/Assets/js/imagezoom.js"></script>
    <script defer src="~/Content/Assets/js/jquery.flexslider.js"></script>
    <link rel="stylesheet" href="~/Content/Assets/css/flexslider.css" type="text/css" media="screen" />
    var productlike = (List<ProjectBanHang.Areas.Admin.Models.DataModels.Product>)ViewBag.likeproduct;
}

<script>
    // Can also be used with $(document).ready()
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            controlNav: "thumbnails"
        });
    });
</script>
<div class="head-bread">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Men</a></li>
            <li class="active">Shop</li>
        </ol>
    </div>
</div>
<div class="showcase-grid">
    <div class="container">
        <div class="col-md-8 showcase">
            <div class="flexslider">
                <ul class="slides">
                    <li data-thumb="@Model.Image">
                        <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive"> </div>
                    </li>
                    <li data-thumb="@Model.Image">
                        <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive"> </div>
                    </li>
                    <li data-thumb="@Model.Image">
                        <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive"> </div>
                    </li>
                    <li data-thumb="@Model.Image">
                        <div class="thumb-image"> <img src="@Model.Image" data-imagezoom="true" class="img-responsive"> </div>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="col-md-4 showcase">
            <div class="showcase-rt-top">
                <div class="pull-left shoe-name">
                    <h3>@Model.Name</h3>
                    <p>Men's running shoes</p>
                    <h4>&#36;@Model.Price</h4>
                </div>
                <div class="pull-left rating-stars">
                    <ul>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                        <li><a href="#" class="active"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star star-stn" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr class="featurette-divider">
            <div class="shocase-rt-bot">
                <div class="float-qty-chart">
                    <ul>
                        <li class="qty">
                            <h3>Size Chart</h3>
                            <select class="form-control siz-chrt">
                                <option>6 US</option>
                                <option>7 US</option>
                                <option>8 US</option>
                                <option>9 US</option>
                                <option>10 US</option>
                                <option>11 US</option>
                            </select>
                        </li>
                        <li class="qty">
                            <h4>QTY</h4>
                            <select class="form-control qnty-chrt">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                            </select>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <ul>
                    <li class="ad-2-crt simpleCart_shelfItem">
                        <a class="btn item_add" href="#" role="button">Add To Cart</a>
                        <a class="btn" href="#" role="button">Buy Now</a>
                    </li>
                </ul>
            </div>
            <div class="showcase-last">
                <h3>product details</h3>
                <ul>
                    <li>Internal bootie wraps your foot for a sock-like fit</li>
                    <li>Unique eyestays work with the Flywire cables to create an even better glove-like fit</li>
                    <li>Waffle outsole for durability and multi-surface traction</li>
                    <li>Sculpted Cushlon midsole combines plush cushioning and springy resilience for impact protection</li>
                    <li>Midsole flex grooves for greater forefoot flexibility</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<div class="specifications">
    <div class="container">
        <h3>Item Details</h3>
        <div class="detai-tabs">
            <!-- Nav tabs -->
            <ul class="nav nav-pills tab-nike" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Highlights</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Description</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Terms & conditiona</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <p>The full-length Max Air unit delivers excellent cushioning with enhanced flexibility for smoother transitions through footstrike.</p>
                    <p>Dynamic Flywire cables integrate with the laces and wrap your midfoot for a truly adaptive, supportive fit.</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <p>@Model.Description</p>
                </div>
                <div role="tabpanel" class="tab-pane" id="messages">
                    The images represent actual product though color of the image and product may slightly differ.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="you-might-like">
    <div class="container">
        <h3 class="you-might">Products You May Like</h3>

        <!-- normal -->
        @foreach (var item in productlike)
        {
            var url = "/chi-tiet/" + item.Id;
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <div class="ih-item square effect3 bottom_to_top">
                    <div class="bottom-2-top">
                        <div class="img"><img src="@item.Image" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>@item.Name</h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a href="@url" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">$@item.Price</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>

        }

        <!-- end normal -->
        <div class="quick-view">
            <a href="single.html">Quick view</a>
        </div>
    </div>
    <div class="clearfix"></div>
</div>

